<!DOCTYPE html>
<html>
  <head>
    <%- include ('note/head') %>
  </head>
  <body>
    <div id="page-wrapper">
      <%- include ('note/menu') %>
      <%- include ('note/note-list') %>
      <%- include ('note/editor') %>
    </div>
    <%- include ('note/footer') %>
    <%- include ('./includes/modal') %>
    <%- include ('note/foot') %>
  </body>
</html>
