<div id="menu">
  <a id="page-icon" href="/home"><img src="/img/icon.png"></a>
  <%if (JSON.parse(profile) !== null && profileUrl !== userUrl) { %>
    <div id="profile">
      <img class="user-icon" src="<%= JSON.parse(profile).biggerphoto %>"></img>
      <div class="user-name"><%= decodeURIComponent(JSON.parse(profile).name) %></div>
      <div class="user-id"><%= profileUrl %></div>
    </div>
    <div id="types-container">
      <div id="normal" class="type">
        <div class="tag-icon material-icons">description</div>
        <div class="tag-text">Notes</div>
      </div>
    </div>
  <% } else { %>
  <div id="types-container">
    <div id="normal" class="type">
      <div id="normal-dropdown" class="tag-dropdown material-icons">chevron_right</div>
      <div class="tag-icon material-icons">description</div>
      <div class="tag-text">Notes</div>
    </div>
    <div id="public" class="sub-type normal-sub">
      <div class="tag-icon material-icons">public</div>
      <div class="tag-text">Public</div>
    </div>
    <div id="private" class="sub-type normal-sub">
      <div class="tag-icon material-icons">person</div>
      <div class="tag-text">Private</div>
    </div>
    <div id="archive" class="type">
      <div class="tag-icon material-icons">archive</div>
      <div  class="tag-text">Archive</div>
    </div>
    <div id="trash" class="type">
      <div class="tag-icon material-icons">delete</div>
      <div class="tag-text">Trash</div>
    </div>
  </div>
  <% } %>
  <div id="tags-container">
    <div id="tags">
    </div>
  </div>
  <div id="setting">
    <%if (JSON.parse(userProfile) !== null) { %>
      <div class="user-wrapper">
        <a href="/<%= userUrl %>">
          <img class="user-icon" src="<%= JSON.parse(userProfile).photo %>"></img>
        </a>
        <div class="user-name"><%= decodeURIComponent(JSON.parse(userProfile).name) %></div>
      </div>
    <% } else{ %>
      <button type="button" id="signin-modal-btn" class="btn btn-outline-light" data-toggle="modal" data-target="#sign-in-modal">Sign in</button> 
    <% } %>
    <div id="setting-btn" class="material-icons-outlined" data-toggle="modal" data-target="#setting-modal">settings</div>
  </div>
</div>


